LanguageInfo
<div class="center" layout="column" flex>
<table class="simple list-view">
    <thead>
        <tr>
            <th translate="">Language</th>
            <th translate="">Speaking</th>
            <th translate="">Writing</th>
            <th translate="">Reading</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="lag in _selectedemp.languageInfo">
            <td>{{lag.LanguageTypeLI}}</td>
            <td>{{lag.SpeakingLI}}</td>
            <td>{{lag.WritingLI}}</td>
            <td>{{lag.ReadingLI}}</td>
        </tr>
    </tbody>
</table>
</div>
