<div>WorkExperienceInfo Info</div>
<div id="WI" class="center" layout="column" flex>
    <div>
    	<table class="simple list-view">
         <thead>
            <tr >
                <th style="text-align: center;">CompanyWI</th>
                <th style="text-align: center;">DateFrome</th>
                <th style="text-align: center;">DateTo</th>
                <th style="text-align: center;">Position</th>
                <th style="text-align: center;">JobDecision</th>
                <th style="text-align: center;">Salary</th>
                <th style="text-align: center;">Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="WEI in _selectedemp.WorkExperienceInfo">           

                <td style="text-align: center;">{{WEI.CompanyWI}}</td>
                <td style="text-align: center;">{{WEI.DateFromeWI | date:"dd/MM/yyyy"}}</td>
                <td style="text-align: center;">{{WEI.DateToWI | date:"dd/MM/yyyy"}}</td>
                <td style="text-align: center;">{{WEI.PositionWI}}</td>
                <td style="text-align: center;">{{WEI.JobDescWI}}</td>
                <td style="text-align: center;">{{WEI.SalaryWI}}</td>
                <td style="text-align: center;">{{WEI.ReasonWI}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    
</div>
