<!-- <header class="md-accent-bg">
    <div class="title">Other Information</div>
</header> -->
<div class="content" layout="column">
    <div layout="row"></div>
    <div class="info-line">
        <div class="title">WorkCountry</div>
        <div class="info">{{_selectedemp.OtherInfo.WorkCountryOI}}</div>
    </div>
    <div class="info-line">
        <div class="title">WorkCountryDesc</div>
        <div class="info">{{_selectedemp.OtherInfo.WorkCountryDescOI}}</div>
    </div>
    <div layout="row">
        <div class="info-line" flex="50">
            <div class="title">FirstName</div>
            <div class="info">{{_selectedemp.OtherInfo.FirtNameOI}}</div>
        </div>
        <div class="info-line" flex="50">
            <div class="title">LastName</div>
            <div class="info">{{_selectedemp.OtherInfo.LastNameOI}}</div>
        </div>
    </div>
    <div class="info-line">
        <div class="title">Related</div>
        <div class="info">{{_selectedemp.OtherInfo.RelatedOI}}</div>
    </div>
    <div class="info-line">
        <div class="title">Address</div>
        <div class="info">{{_selectedemp.OtherInfo.AddressOI}}</div>
    </div>
    <div class="info-line">
        <div class="title">Tel</div>
        <div class="info">{{_selectedemp.OtherInfo.TelOI}}</div>
    </div>
    <div class="info-line">
        <div class="title">Source</div>
        <div class="info">{{_selectedemp.OtherInfo.SourceInfoOI}}</div>
    </div>
    <div class="info-line">
        <div class="title">Contagious</div>
        <div class="info">{{_selectedemp.OtherInfo.ContagiousFlagOI}}</div>
    </div>
    <div class="info-line">
        <div class="title">ContagiousDesc</div>
        <div class="info">{{_selectedemp.OtherInfo.ContagiousDescOI}}</div>
    </div>
    <div layout="row">
        <div class="info-line" flex="50">
            <div class="title">FirstNameWorkRela</div>
            <div class="info">{{_selectedemp.OtherInfo.FirstNameWorkRelativeOI}}</div>
        </div>
        <div class="info-line" flex="50">
            <div class="title">LastNameWorkRela</div>
            <div class="info">{{_selectedemp.OtherInfo.LastNameWorkRelativeOI}}</div>
        </div>
    </div>
    <div class="info-line">
        <div class="title">YoureSelf</div>
        <div class="info">{{_selectedemp.OtherInfo.IntroduceYoureSelfOI}}</div>
    </div>