<div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title">Special Information</div>
            </header>
            <div class="content" layout="column">
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">Typing</div>
                        <div class="info">{{_selectedemp.SpecialInfo.TypingSI}}</div>
                    </div>
                    <div class="info-line" flex="30">
                        <div class="title">TypingTH</div>
                        <div class="info">{{_selectedemp.SpecialInfo.TypingTHSI}}</div>
                    </div>
                    <div class="info-line" flex="30">
                        <div class="title">TypingEN</div>
                        <div class="info">{{_selectedemp.SpecialInfo.TypingENSI}}</div>
                    </div>
                </div>
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">Computer</div>
                        <div class="info">{{_selectedemp.SpecialInfo.ComputerSI}}</div>
                    </div>
                    <div class="info-line" flex="30">
                        <div class="title">ComputerDescription</div>
                        <div class="info">{{_selectedemp.SpecialInfo.ComputerDescSI}}</div>
                    </div>
                </div>
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">Driving</div>
                        <div class="info">{{_selectedemp.SpecialInfo.DrivingSI}}</div>
                    </div>
                    <div class="info-line" flex="30">
                        <div class="title">DrivingNo</div>
                        <div class="info">{{_selectedemp.SpecialInfo.DrivingNoSI}}</div>
                    </div>
                </div>
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">OfficMachine</div>
                        <div class="info">{{_selectedemp.SpecialInfo.OfficMachineSI}}</div>
                    </div>
                    <div class="info-line" flex="30">
                        <div class="title">Hobbice</div>
                        <div class="info">{{_selectedemp.SpecialInfo.HobbiceSI}}</div>
                    </div>
                </div>
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">Sport</div>
                        <div class="info">{{_selectedemp.SpecialInfo.SportSI}}</div>
                    </div>
                </div>
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">Knowledge</div>
                        <div class="info">{{_selectedemp.SpecialInfo.KnowledgeSI}}</div>
                    </div>
                </div>
                <div layout="row">
                    <div class="info-line" flex="30">
                        <div class="title">Other</div>
                        <div class="info">{{_selectedemp.SpecialInfo.OtherSI}}</div>
                    </div>
                </div>
            </div>
        </div>