Certificate Info

<div layout="row" layout-wrap>
  <div flex="10">
    
  </div>
  <div flex="80">
    <br>


<div layout="column" layout-wrap>
    <div flex>
        บริษัท ไซเบอร์ แอดวานซ์ ซิสเต็ม แอนด์ เน็ทเวิร์ค จำกัด
        <br> 55/7 หมู่ 11 ถนนวงแหวน-ลำลูกกา ตำบลบึงคำพร้อย อำเภอลำลูกกา จังหวัดปทุมธานี 12150
    </div>
    <br>
    <div layout="row" layout-wrap align="center">
        
        <div flex >
            <br>
            <strong><h1> หนังสือรับรอง</h1></strong>
        </div>
        
    </div>
    <br>
    <div layout="row" layout-wrap align="right">
        
        <div flex>
            {{CertificateInfo.DateRecordCI}}
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex>
            บริษัท ไซเบอร์ แอดวานซ์ ซิสเต็ม แอนด์ เน็ทเวิร์ค จำกัด ขอรับรองว่า ได้ว่าจ้าง
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex="50">
            {{CertificateInfo.FirstNameCI}}
        </div>
        <div flex="50">
            {{CertificateInfo.LastNameCI}}
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex="50">
            ปฏิบัติงานในตำแหน่ง      {{CertificateInfo.PositionCI}}
        </div>
         <div flex="50">
           {{CertificateInfo.BossSign}}
        </div>
         
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex>
            โดยเริ่มปฏิบัติงานตั้งแต่วันที่ {{CertificateInfo.DateStartCI}}
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex>
            มีอัตราเงินค่าตอบแทน ณ ปัจจุบันที่ {{CertificateInfo.SalaryCI}} บาท (บาทถ้วน)
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex>
            ซึ่งอัตรานี้ไม่รวมค่าพิเศษอื่นๆ
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap>
        <div flex>
            หนังสือรับรองฉบับนี้ออกให้ไว้ ณ วันที่ {{CertificateInfo.DatePrintCI}}
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap align="center">
        <div flex>
            ขอรับรองว่าข้อความข้างต้นเป็นจริงทุกประการ
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap align="center">
        <div flex>
            ลงชื่อ{{}}
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap align="center">
        <div flex>
            (นาย ธีรศักดิ์ ทับฤทธิ์)
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap align="center">
        <div flex>
            กรรมการบริษัท
        </div>
    </div>
    <br>
    <div layout="row" layout-wrap align="center">
        <div flex>
            บริษัท ไซเบอร์ แอดวานซ์ ซิสเต็ม แอนด์ เน็ทเวิร์ค จำกัด
        </div>
    </div>
    <br>
</div>

  </div>
   <div flex="10">
   
  </div>

