<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">
    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-email" class="icon"></md-icon>
        </span>
        <span class="logo-text" translate="Employee"></span>
    </div>
</div>
<!-- / SIDENAV HEADER -->
<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>
    <div class="compose-button">
        <md-button class="md-accent md-raised" aria-label="compose" ng-click="vm.composeDialog($event)" translate="New Employee">
        </md-button>
    </div>
    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="inbox" ng-click="positionSelected('')">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-inbox" class="s16"></md-icon>
                <span class="title" translate="All"></span>
            </div>
        </md-button>
        <md-button class="item" aria-label="inbox" ng-repeat="position in positions" ng-click="positionSelected(position)">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-inbox" class="s16"></md-icon>
                <span class="title" translate="{{position}}"></span>
            </div>
        </md-button>
    </div>
</md-content>
<!-- / SIDENAV CONTENT -->
